body {
	margin: 0;
	background-color: #000000;
	line-height: 1.5;
	font-family: 'Electrolize';
	font-size: 1.5em;
	display: flex;
}
.font-color {
	color: #ee9aff;
	font-weight: 200;
	font-style: italic;
}
main > section {
	overflow: auto;
}

#nav {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: .5em;
	background-color: #1d1818;
	color: #a59aff;
}
nav h2, ul {
	margin: 0
}
nav a {
	text-decoration: none;
	color: #a59aff;
}
nav ul {
	display: flex;
	list-style: none;
}
nav ul a {
	padding: 1em;
	color: #746aff;
}
nav ul a:hover {
	color: #a59aff;
}

#intro {
	background-color: #242327;
	background-image: url("images/wisteria.jpeg");
	background-size: cover;
	display: flex;
	align-items: flex-start;
	font-size: 4em;
	color: #a59aff;
	min-height: 100vh;
}
#intro > div {
	background-color: #1d1818;
	opacity: 90%;
	line-height: 1.3em;
	border-radius: 2em 0;
	margin: .5em;
}
#intro h2, #intro p {
	margin: 0;
	text-shadow: 0 0 8px #000;
	padding-right: 1em;
	color: #a59aff;
}
#intro p {
	margin-left: 150px;
}
#why {
	background-color: #1d1818;
}
#why ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
#why > h2 {
	margin: 1em;
	font-size: 3em;
	text-align: center;
	color: #ee9aff;
}

.card {
	width: 400px;
	margin: 1em 1em 3em 1em;
	background-color: rgb(0, 0, 0);
	box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}
.card img {
	width: 100%;
	height: 230px;
}
.card h3 {
	font-size: 2em;
}
.card h3, .card p {
	margin: 1rem;
	color: #ee9aff;
}

#info {
	display: flex;
	justify-content: center;
}
#info > div {
	color: #ee9aff;
	margin: 3em;
	width: 100%;
	text-align: center;
}
#info h2 {
	font-size: 4em;
	text-align: center;
	margin: 0;
}

#more {
	background-color: #1d1818;
	display: flex;
	color: #ee9aff;
	background-size: cover;
}
#more > div {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 3em;
}
#more h2, #more p {
	margin: 0 0 1rem 0;
}
#more h2 {
	font-size: 3em;
}
#more > div > div:nth-child(1) {
	flex: 3;
	margin: 0 2em 0 0;
}
#more > div > div:nth-child(2) {
	flex: 2;
}
#more > div img {
	width: 100%;
	box-shadow:0 0 22px #000;
	margin: 5em 0 0 1em;
}

#contact {
	background-color: #1d1818;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: .5em;
}
#contact > form {
	display: flex;
}
#contact > form > div {
	display: flex;
	flex-direction: column;
}
#contact label {
	display: flex;
	flex-direction: column;
}

label {
	margin: 0;
}
label span {
	margin: .5em 0;
}

input, textarea {
	border: 1px solid #000;
	padding: .5em;
	margin: 0 2em 0 0;
	width: 20em;
	font-size: 1em;
	border-radius: 1em 0;
}

textarea {
	height: 9em;
	margin: 0 0 0 0;
}

form button {
	width: auto;
	font-size: 1em;
	margin: 1em 0;
	align-self: flex-end;
	padding: 0.5em 1em;
	background-color:rgb(0, 0, 0);
	color: #ee9aff;
	border: none;
	border-radius: 1em 0;
}
form button:hover {
	color: #1d1818;
	background-color: #ee9aff;
}
.diagonal {
	height: 30px;
	border-radius: 3em 0;
	background-color: #ee9aff;
}
